html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    color: black;
}

header a:hover, .active-link {
    color: #ffc300;
    text-decoration: underline;
    font-weight: 600;
}

/* utility styles */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align {
    align-items: center;
}

.sidebar {
    border: 1px solid black;
    width: 30%;
}

.layout, .dashboard {
    border: 1px solid black;
}